<!--
  Generated template for the ScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class='navbarColor'>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Brukt'n Bokscanner</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-item text-wrap>
    <ion-label>Tekst til tale</ion-label>
    <ion-toggle [(ngModel)]="lestittel"></ion-toggle>
  </ion-item>


  <button ion-button  full large color="secondary" icon-end (click)="scanQR()">
    Legg til bok
    <ion-icon name="qr-scanner"></ion-icon>
  </button>
  <button ion-button  large color="primary" icon-end (click)="selgQR()">
    Selg 
    <ion-icon name="qr-scanner"></ion-icon>
  </button>
  <button ion-button  right large color="danger" icon-end (click)="slettQR()">
    Slett 
    <ion-icon name="qr-scanner"></ion-icon>
  </button>
  <br>
  <button ion-button small color="primary" icon-end (click)="goToResultTest()">
    test
  </button>

  <button ion-button small color="primary" icon-end (click)="testSlett()">
    test slett
  </button>
  <ion-item>
    <ion-label color="primary"  class="" floating>Hylle</ion-label>
    <ion-input [(ngModel)]="hylle"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary"  class="" floating>Rad</ion-label>
    <ion-input [(ngModel)]="rad" ></ion-input>
  </ion-item>


  <hr>

  <div *ngIf="errorTxt">
    <h2 *ngIf="bd">{{ bd }}</h2>
    Feil: {{ errorTxt }}
  </div>
  <div *ngIf="solgt">
    <h2 *ngIf="bd" color="secondary ">Solgt bok!</h2>
    
  </div>
  <div *ngIf="slett">
    <h2 *ngIf="bd" color="secondary ">Slettet bok!</h2>
</div>


  <div *ngIf="resultat">
    <div (click)="clear()" style='color:blue;'>Tøm søket</div>
  </div>

  <ion-card *ngIf="resultat">
    <ion-item text-wrap>

      <h1>{{ resultat.bookname }}</h1>
      <span *ngIf="resultat.utgitt_av">
        {{ resultat.utgitt_av }}
      </span>
      <span *ngIf="resultat.utgitt_aar">
        {{ resultat.utgitt_aar }}
      </span>
      <span *ngIf="resultat.utgitt_hvor">
        , {{ resultat. utgitt_hvor }}
      </span>
      <span *ngIf="resultat.pageCount">
        <br>{{ resultat.pageCount }} sider
      </span>

    </ion-item>

    <img *ngIf="resultat.image" [src]="resultat.image">

    <ion-card-content>
      <p>
        {{ resultat.description }} </p>
      <br>
      <p>
        Av
        <i>{{ resultat.authors }}</i>
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="add-circle"></ion-icon>
          <div>Legg til</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="cash"></ion-icon>
          <div>Solgt</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>