<!--
  Generated template for the ScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scan!</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
    <button ion-button full large color="secondary" icon-end (click)="scanQR()">
      Start scanQR!
      <ion-icon name="qr-scanner"></ion-icon>
    </button>
    <button ion-button full small color="primary" icon-end (click)="goToResultTest()">
      gotoResultTest
      <ion-icon name="qr-scanner"></ion-icon>
    </button>
<!-- <div *ngIf="resultat.bibsys">
bibsys
</div> -->

  <hr>
  <div *ngIf="resultat">
      <div (click)="resultat = ''" style='color:blue;'>Tøm søket</div>  
</div>






  <ion-card *ngIf="resultat && resultat.bibsys">

    <ion-item>

      <h1>{{ resultat.bibsys.bookname }}</h1>
      <span *ngIf="resultat.bibsys.utgitt_av">
          {{ resultat.bibsys.utgitt_av }}
        </span>
        <span *ngIf="resultat.bibsys.utgitt_aar">
            {{ resultat.bibsys.utgitt_aar }}
          </span>
        <span *ngIf="resultat.bibsys.utgitt_hvor">
            , {{ resultat.bibsys. utgitt_hvor }}
          </span>
        <span *ngIf="resultat.bibsys.pageCount">
            <br>{{ resultat.bibsys.pageCount }} sider
          </span>
    </ion-item>
  
    <img *ngIf="resultat.bibsys.image" [src]="resultat.bibsys.image">
  
    <ion-card-content>
      <p>
          {{ resultat.bibsys.description }}      </p>
          <br>
          <p>
              Av <i>{{ resultat.bibsys.authors }}</i>
          </p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="add-circle"></ion-icon>
          <div>Legg til</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="cash"></ion-icon>
          <div>Solgt</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
        <br><i>Data frå Bibsys.</i>
        </ion-col>
    </ion-row>

  </ion-card>

  <ion-card *ngIf="resultat && resultat.google">

      <ion-item>
  
        <h1>{{ resultat.google.bookname }}</h1>
        <span *ngIf="resultat.google.utgitt_av">
            {{ resultat.google.utgitt_av }}
          </span>
          <span *ngIf="resultat.google.utgitt_aar">
              {{ resultat.google.utgitt_aar }}
            </span>
          <span *ngIf="resultat.google.utgitt_hvor">
              , {{ resultat.google. utgitt_hvor }}
            </span>
          <span *ngIf="resultat.google.pageCount">
              <br>{{ resultat.google.pageCount }} sider
            </span>

      </ion-item>
    
      <img *ngIf="resultat.google.image" [src]="resultat.google.image">
    
      <ion-card-content>
        <p>
            {{ resultat.google.description }}      </p>
            <br>
            <p>
                Av <i>{{ resultat.google.authors }}</i>
            </p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="add-circle"></ion-icon>
            <div>Legg til</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="cash"></ion-icon>
            <div>Solgt</div>
          </button>
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col>
        <br><i>Data frå Google.</i>
        </ion-col>
    </ion-row>
    </ion-card>
  
  
  






</ion-content>



